* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.all-close {
    margin-top: 350px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.button {
    border: solid;
    border-color: white;
    border-width: 2px;
    width: 100px;
    height: 35px;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: all 0.5s ease 0s;
}

.button:hover {
    background-color: white;
    color: black;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 80%;
    height: 55px;
}

.button a {
    background: none;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.button a:hover {
    color: black;
}

.title {
    margin-bottom: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.title h1 {
    color: white;
    font-size: 80px;
    font-weight: 600;
}

