* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.backgroud {
    z-index: -5;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    -webkit-user-drag: none;
}

.taskbar {
    opacity: 0.75;
    z-index: 5;
    position: fixed;
    height: 30px;
    bottom: 0;
    -webkit-user-drag: none;
}

.windows {
    margin-top: 3px;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    z-index: 15;
}

.taskbar a {
    cursor: default;
}

.app-1{
    width: 36px;
    height: 30px;
    z-index: 15;
    transition: all 0.3s ease 0s;
}

.app-1:hover {
    width: 36px;
    height: 30px;
    background-color: rgb(224, 224, 224);
}

.app-2{
    width: 36px;
    height: 30px;
    z-index: 15;
    transition: all 0.3s ease 0s;
}

.app-2:hover {
    width: 36px;
    height: 30px;
    background-color: rgb(224, 224, 224);
}

.massion {
    margin-top: 3px;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    z-index: 15;
}

.app {
    display: grid;
    justify-items: left;
    gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@keyframes movetop6 {
    from {
        transform: translateY(600px);
    }

    to {
        transform: translateY(0);
    }

}

.begin-windows {
    display: grid;
    position: fixed;
    bottom: 30px;
    transform: translateY(-600px);
    animation: movetop6 1.2s ease-in-out forwards;
    align-items: flex-end;
}

.begin {
    gap: 10px;
    opacity: 0.8;
    height: 500px;
    width: 420px;
    display: grid;
    grid-template-columns: 1fr 4fr 5fr;
    background-color: rgb(197, 197, 197);
}

.begin-left-tool {
    display: grid;
    margin-top: 13px;
    margin-left: 3px;
}

.tool-left-1 {
    cursor: default;
    width: 36px;
    height: 30px;
    z-index: 20;
    transition: all 0.3s ease 0s;
}

.tool-left-1:hover {
    cursor: default;
    width: 36px;
    height: 30px;
    z-index: 20;
    background-color: rgb(255, 255, 255);
}

.tool-left-2 {
    cursor: default;
    width: 36px;
    height: 30px;
    z-index: 20;
    position: fixed;
    bottom: 140px;
    transition: all 0.3s ease 0s;
}

.tool-left-2:hover {
    cursor: default;
    width: 36px;
    height: 30px;
    z-index: 20;
    background-color: rgb(255, 255, 255);
}

.tool-left-2 img {
    cursor: default;
    border-radius: 50px;
}

.tool-left-3 {
    cursor: default;
    width: 36px;
    height: 30px;
    z-index: 20;
    position: fixed;
    bottom: 90px;
    transition: all 0.3s ease 0s;
}

.tool-left-3:hover {
    cursor: default;
    width: 36px;
    height: 30px;
    z-index: 20;
    background-color: rgb(255, 255, 255);
}

.tool-left-4 {
    cursor: default;
    width: 36px;
    height: 30px;
    z-index: 20;
    position: fixed;
    bottom: 40px;
    transition: all 0.3s ease 0s;
}

.tool-left-4:hover {
    cursor: default;
    width: 36px;
    height: 30px;
    z-index: 20;
    background-color: rgb(255, 255, 255);
}

.pr {
    cursor: default;
    margin-top: 3px;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    z-index: 20;
}

.ps {
    cursor: default;
    margin-top: 3px;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    z-index: 20;
}

.ae {
    cursor: default;
    margin-top: 3px;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    z-index: 20;
}

.power {
    cursor: default;
    margin-top: 3px;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    z-index: 20;
}

.begin-head {
    cursor: default;
    margin-top: 3px;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    z-index: 20;
}

.set {
    cursor: default;
    margin-top: 3px;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    z-index: 20;
}

.meum {
    cursor: default;
    margin-top: 3px;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    z-index: 20;
}

.begin-left {
    margin-top: 13px;
}

.tool-title {
    display: grid;
    align-items: center;
    margin-top: 4px;
    height: 28px;
    z-index: 20;
    cursor: default;
}

.tool-title-1 {
    display: grid;
    align-items: center;
    margin-top: 8px;
    height: 28px;
    z-index: 20;
    cursor: default;
}

.tool-title-1:hover {
    cursor: default;
    background-color: darkgrey;
}

.tool-title-1 p {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
}

.tool-title:hover {
    background-color: darkgrey;
}

.tool-title p {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
}

.tool {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 28px;
    z-index: 20;
    margin-top: 8px;
    cursor: default;
}

.tool img {
    border-radius: 6px;
    background-color: rgb(224, 224, 224);
}

.tool a {
    cursor: default;
}

.tool:hover {
    background-color: darkgrey;
}

.file {
    margin-top: 3px;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    z-index: 25;
}

.vscode {
    margin-top: 3px;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    z-index: 25;
}

.wifi {
    margin-top: 3px;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    z-index: 25;
}

.weche {
    margin-top: 3px;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    z-index: 25;
}

.apps {
    margin-left: 3px;
    height: 80px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(224, 224, 224);
    cursor: default;
}

.apps a {
    cursor: default;
}

.search {
    height: 60px;
    width: 60px;
    z-index: 25;
}

.vouce {
    height: 60px;
    width: 60px;
    z-index: 25;
}

.begin-right {
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 13px;
    margin-right: 15px;
}

.begin-right img:hover {
    background-color: rgba(189, 189, 189, 0.712);
}

